input {
    border: 1px solid #b6b6b6 ;
    border-radius: 8px;
}

.divider {
    margin: 0 10px;
}

.mainContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.listContainer {
    display: flex;
    gap: 10px;
    margin: 50px auto 20px;
    max-width: calc(100% - 200px);
    flex-wrap: wrap;
}